
/* Defining a felxbox container to order the items correctly */
.flexbox {
    display: flex;
    align-items: flex-start;
    background-color: var(--footer-color);
    color: lightgray;
    border-bottom-right-radius: 7.5px;
    border-bottom-left-radius: 7.5px;
    height: 100px;
}

/* All div items within flexbox class */
.flexbox > div {

    font-size: 18px;
}

/* Second and last div child */
.flexbox > div:nth-child(2) {
    margin-left:auto;
}

/* unvisited link */
a:link {
    color: lightgray;
}

/* mouse over link */
a:hover {
    color: blue;
}

/* selected link */
a:active {
    color: darkblue;
}

/* visited link */
a:visited {
    color: lightgray;
}
  
