<div class="grid-container">
  <div class="grid-item">
    <div>  
      <img src="../../assets/first.jpg" alt="First">
    </div>   
    <div>
      <article>Erstellen Sie ihren eigenen Trainingsplän aus einer Liste mit über XY Übungen.
        Ihnen sind keine Grenzen gesetzt den fehlt eine Übung können Sie diese selbst erstellen und Ihrem
        Plan hinzufügen.
      </article>
    </div>
  </div>

  <div class="grid-item">
    <div>  
      <img src="../../assets/Gym.jpg" alt="First">
    </div>   
    <div>
      <article>Erstellen Sie ihren eigenen Trainingsplän aus einer Liste mit über XY Übungen.
        Ihnen sind keine Grenzen gesetzt den fehlt eine Übung können Sie diese selbst erstellen und Ihrem
        Plan hinzufügen.
      </article>
    </div>
  </div>

  <div class="grid-item">
    <div>  
      <img src="../../assets/first.jpg" alt="First">
    </div>   
    <div>
      <article>Erstellen Sie ihren eigenen Trainingsplän aus einer Liste mit über XY Übungen.
        Ihnen sind keine Grenzen gesetzt den fehlt eine Übung können Sie diese selbst erstellen und Ihrem
        Plan hinzufügen.
      </article>
    </div>
  </div>

  <div class="grid-item">
      <div>  
        <img src="../../assets/first.jpg" alt="First">
      </div>   
      <div>
        <article>Erstellen Sie ihren eigenen Trainingsplän aus einer Liste mit über XY Übungen.
          Ihnen sind keine Grenzen gesetzt den fehlt eine Übung können Sie diese selbst erstellen und Ihrem
          Plan hinzufügen.
        </article>
      </div>
    </div>

    <div class="grid-item">
        <div>  
          <img src="../../assets/first.jpg" alt="First">
        </div>   
        <div>
          <article>Erstellen Sie ihren eigenen Trainingsplän aus einer Liste mit über XY Übungen.
            Ihnen sind keine Grenzen gesetzt den fehlt eine Übung können Sie diese selbst erstellen und Ihrem
            Plan hinzufügen.
          </article>
        </div>
      </div>

      <div class="grid-item">
          <div>  
            <img src="../../assets/first.jpg" alt="First">
          </div>   
          <div>
            <article>Erstellen Sie ihren eigenen Trainingsplän aus einer Liste mit über XY Übungen.
        Ihnen sind keine Grenzen gesetzt den fehlt eine Übung können Sie diese selbst erstellen und Ihrem
        Plan hinzufügen.
      </article>
    </div>
  </div>
</div>
