<!-- Editable table -->
<div class="card">
    <div class="card-body">
      <div id="table" class="table-editable">
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <tr>
            <th class="text-center">Trainingsplan Name</th>
            <th colspan="2" class="text-center">Satz 1</th>
            <th colspan="2" class="text-center">Satz 2</th>
            <th colspan="2" class="text-center">Satz 3</th>
            <th colspan="2" class="text-center">Satz 4</th>
          </tr>
          <tr>
            <th class="text-center">Übungen</th>
            <th class="text-center">Gewicht</th>
            <th class="text-center">Wh</th>
            <th class="text-center">Gewicht</th>
            <th class="text-center">Wh</th>
            <th class="text-center">Gewicht</th>
            <th class="text-center">Wh</th>
            <th class="text-center">Gewicht</th>
            <th class="text-center">Wh</th>
          </tr>
          <!-- This is our clonable table line -->
          <tr>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
          </tr>
          <!-- This is our clonable table line -->
          <tr>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
          </tr>
          <!-- This is our clonable table line -->
          <tr>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <!-- Editable table -->


<!-- <div class="container">
  <div class="row"><h2>Trainingsplan erstellen</h2></div>
  <div class="row">
    <table class="table table-bordered"  cellspacing="0" cellpadding="0">
      <thead class="thead-light">
        <tr>
          <th scope="col"><input type="text" placeholder="Trainingsplanname"></th>
          <th scope="col" colspan="2">Satz 1</th>
          <th scope="col" colspan="2">Satz 2</th>
          <th scope="col" colspan="2">Satz 3</th>
          <th scope="col" colspan="2">Satz 4</th>
        </tr>
        <tr>
            <th scope="col">Übungen</th>
            <th scope="col">Gewicht</th>
            <th scope="col">Wh</th>
            <th scope="col">Gewicht</th>
            <th scope="col">Wh</th>
            <th scope="col">Gewicht</th>
            <th scope="col">Wh</th>
            <th scope="col">Gewicht</th>
            <th scope="col">Wh</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
      </tbody>
    </table>
  </div>
</div> -->







<!-- <div class="grid-container">
  <div class="example-container, grid-item">
      <h2>Trainingsplan</h2>
      <div>
        <app-journal-entry-list></app-journal-entry-list>
      </div>
  </div>
  <div class="example-container, grid-item">
    <h2>Körperteile</h2>
    <label>Trainingsplan Name:</label>
    <br>
    <input [(ngModel)]="workoutPlanName">
    <hr>
    <-- Abs --
    <div cdkDropList class="example-list" #absList="cdkDropList" [cdkDropListData]="abs" [cdkDropListConnectedTo]="[excerciseList]" (cdkDropListDropped)="drop($event)">
      <label>Bauchmuskeln:</label>
      <div class="example-box" *ngFor="let excercise of abs" cdkDrag>{{ excercise.title }}</div>
    </div>
  
    <-- Arms --
    <div cdkDropList class="example-list" #armsList="cdkDropList" [cdkDropListData]="arms" [cdkDropListConnectedTo]="[excerciseList]" (cdkDropListDropped)="drop($event)">
      <label>Arme:</label>
      <div class="example-box" *ngFor="let excercise of arms" cdkDrag>{{ excercise.title }}</div>
    </div>

    <-- Back --
    <div cdkDropList class="example-list" #backList="cdkDropList" [cdkDropListData]="back" [cdkDropListConnectedTo]="[excerciseList]" (cdkDropListDropped)="drop($event)">
      <label>Ruecken:</label>
      <div class="example-box" *ngFor="let excercise of back" cdkDrag>{{ excercise.title }}</div>
    </div>
  
    <-- Chest --
    <div cdkDropList class="example-list" #chestList="cdkDropList" [cdkDropListData]="chest" [cdkDropListConnectedTo]="[excerciseList]" (cdkDropListDropped)="drop($event)">
      <label>Brust:</label>
      <div class="example-box" *ngFor="let excercise of chest" cdkDrag>{{ excercise.title }}</div>
    </div>
  
    <-- Legs --
    <div cdkDropList class="example-list" #legsList="cdkDropList" [cdkDropListData]="legs" [cdkDropListConnectedTo]="[excerciseList]" (cdkDropListDropped)="drop($event)">
      <label>Beine:</label>
      <div class="example-box" *ngFor="let excercise of legs" cdkDrag>{{ excercise.title }}</div>
    </div>
    
    <-- Shoulders --
    <div cdkDropList class="example-list" #shouldersList="cdkDropList" [cdkDropListData]="shoulders" [cdkDropListConnectedTo]="[excerciseList]" (cdkDropListDropped)="drop($event)">
      <label>Schultern:</label>
      <div class="example-box" *ngFor="let excercise of shoulders" cdkDrag>{{ excercise.title }}</div>
    </div>
    <button>Speichern</button>
  </div>
  
  <div class="example-container, grid-item">
    <h2>Übungen</h2>
    
    <div cdkDropList class="example-list" #excerciseList="cdkDropList" [cdkDropListData]="excercises" [cdkDropListConnectedTo]="[absList, amrsList, backList, chestList, legsList, shoulldersList]" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let excercise of excercises" cdkDrag><div>{{ excercise.title }}</div></div>
    </div>
  </div>
</div> -->