.grid {
    height: 100%;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "n n n n n n n n n n n n"
    "m m m m m m m m m m m m"
    "f f f f f f f f f f f f";

}

.nav {
    grid-area: n;
    background-color: red;
}

.main {
    grid-area: m;
    height: 500px;
    background-color: blue;
}

.footer {
    grid-area: f;
    background-color: violet;
}