<nav class="navbar navbar-expand-sm navbar-custom">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCustom">
    <i class="fa fa-bars fa-lg py-1 text-white"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarCustom">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/Home" routerLinkActive="active" rel="Homepage"> Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Trainingsplan" rel="Trainingsplan">Trainingsplan</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/Ernährungsplan" rel="Ernährungsplan">Ernährungsplan</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/Rezeptbuch" rel="Rezeptbuch">Rezeptbuch</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Tagebuch" rel="Tagebuch">Tagebuch</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Bibliothek" rel="Bibliothek">Bibliothek</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/Test" rel="Test">Test</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" aria-disabled="true" tabindex="-1" routerLink="/Test2" rel="Test2">Test2-disabled</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" aria-disabled="true" tabindex="-1" routerLink="/Test3" rel="Test3">Test3-disabled</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" aria-disabled="true" tabindex="-1" routerLink="/Test4" rel="Test4">Test4-disabled</a>
      </li> -->
    </ul>
  </div>
</nav>

  