<nav>
  <ul class="nav">
    <li><img src="../../assets/dumbbell.png" alt="Webgym Logo" height="40" width="40"></li>
    <li><a routerLink="/Home" routerLinkActive="active" rel="Homepage">Home</a></li>
    <li><a routerLink="/Trainingsplan" rel="Trainingsplan">Trainingsplan</a></li>
    <li><a routerLink="/Ernährungsplan" rel="Ernährungsplan">Ernährungsplan</a></li>
    <li><a routerLink="/Rezeptbuch" rel="Rezeptbuch">Rezeptbuch</a></li>
    <li><a routerLink="/Tagebuch" rel="Tagebuch">Tagebuch</a></li>
    <li><a routerLink="/Bibliothek" rel="Bibliothek">Bibliothek</a></li>
    <li><a routerLink="/Test1" rel="Test1">Test1</a></li>
    <li><a routerLink="/Test2" rel="Test2">Test2</a></li>
    <li><a routerLink="/Test3" rel="Test3">Test3</a></li>
    <li><a routerLink="/Test4" rel="Test4">Test4</a></li>
  </ul>
</nav>
<hr>

