/* You can add global styles to this file, and also import other style files */

:root {
    --header-color: #6E6363;
    --nav-color: #6E6363;
    --main-color: none;
    --aside-color: lightgray;
    --footer-color: #6E6363;
    --background-color: grey;
}