<div class="container">
  
  <div class="row">

    <div class="col">

      <div class="card">
        <img src="../../assets/gym.jpg" class="card-img-top" alt="Bild">
        <div class="card-body">
          <p class="card-text">Erstellen Sie ihren eigenen Trainingsplän aus einer Liste mit über XY Übungen.
          Ihnen sind keine Grenzen gesetzt den fehlt eine Übung können Sie diese selbst erstellen und Ihrem
          Plan hinzufügen.</p>
        </div>
      </div>

    </div>  

    <div class="col">

      <div class="card">
        <img src="../../assets/gym.jpg" class="card-img-top" alt="Bild">
        <div class="card-body">
          <p class="card-text">Erstellen Sie ihren eigenen Trainingsplän aus einer Liste mit über XY Übungen.
              Ihnen sind keine Grenzen gesetzt den fehlt eine Übung können Sie diese selbst erstellen und Ihrem
              Plan hinzufügen.</p>
        </div>
      </div>

    </div>

    <div class="col">

      <div class="card">
        <img src="../../assets/gym.jpg" class="card-img-top" alt="Bild">
        <div class="card-body">
          <p class="card-text">Erstellen Sie ihren eigenen Trainingsplän aus einer Liste mit über XY Übungen.
            Ihnen sind keine Grenzen gesetzt den fehlt eine Übung können Sie diese selbst erstellen und Ihrem
            Plan hinzufügen.</p>
        </div>
      </div>

    </div>

  </div>

  <br>

  <div class="row">

    <div class="col">

      <div class="card">
        <img src="../../assets/gym.jpg" class="card-img-top" alt="Bild">
        <div class="card-body">
          <p class="card-text">Erstellen Sie ihren eigenen Trainingsplän aus einer Liste mit über XY Übungen.
          Ihnen sind keine Grenzen gesetzt den fehlt eine Übung können Sie diese selbst erstellen und Ihrem
          Plan hinzufügen.</p>
        </div>
      </div>

    </div>

    <div class="col">

      <div class="card">
        <img src="../../assets/gym.jpg" class="card-img-top" alt="Bild">
        <div class="card-body">
          <p class="card-text">Erstellen Sie ihren eigenen Trainingsplän aus einer Liste mit über XY Übungen.
          Ihnen sind keine Grenzen gesetzt den fehlt eine Übung können Sie diese selbst erstellen und Ihrem
          Plan hinzufügen.</p>
        </div>
      </div>

    </div>

    <div class="col">

      <div class="card">
        <img src="../../assets/gym.jpg" class="card-img-top" alt="Bild">
        <div class="card-body">
          <p class="card-text">Erstellen Sie ihren eigenen Trainingsplän aus einer Liste mit über XY Übungen.
          Ihnen sind keine Grenzen gesetzt den fehlt eine Übung können Sie diese selbst erstellen und Ihrem
          Plan hinzufügen.</p>
        </div>
      </div>
    </div>
  </div>
</div>




<!--<div class="grid-container">
  <div class="grid-item">
    <div>  
      <img src="../../assets/first.jpg" alt="First">
    </div>   
    <div>
      <article>Erstellen Sie ihren eigenen Trainingsplän aus einer Liste mit über XY Übungen.
        Ihnen sind keine Grenzen gesetzt den fehlt eine Übung können Sie diese selbst erstellen und Ihrem
        Plan hinzufügen.
      </article>
    </div>
  </div>

  <div class="grid-item">
    <div>  
      <img src="../../assets/Gym.jpg" alt="First">
    </div>   
    <div>
      <article>Erstellen Sie ihren eigenen Trainingsplän aus einer Liste mit über XY Übungen.
        Ihnen sind keine Grenzen gesetzt den fehlt eine Übung können Sie diese selbst erstellen und Ihrem
        Plan hinzufügen.
      </article>
    </div>
  </div>

  <div class="grid-item">
    <div>  
      <img src="../../assets/first.jpg" alt="First">
    </div>   
    <div>
      <article>Erstellen Sie ihren eigenen Trainingsplän aus einer Liste mit über XY Übungen.
        Ihnen sind keine Grenzen gesetzt den fehlt eine Übung können Sie diese selbst erstellen und Ihrem
        Plan hinzufügen.
      </article>
    </div>
  </div>

  <div class="grid-item">
      <div>  
        <img src="../../assets/first.jpg" alt="First">
      </div>   
      <div>
        <article>Erstellen Sie ihren eigenen Trainingsplän aus einer Liste mit über XY Übungen.
          Ihnen sind keine Grenzen gesetzt den fehlt eine Übung können Sie diese selbst erstellen und Ihrem
          Plan hinzufügen.
        </article>
      </div>
    </div>

    <div class="grid-item">
        <div>  
          <img src="../../assets/first.jpg" alt="First">
        </div>   
        <div>
          <article>Erstellen Sie ihren eigenen Trainingsplän aus einer Liste mit über XY Übungen.
            Ihnen sind keine Grenzen gesetzt den fehlt eine Übung können Sie diese selbst erstellen und Ihrem
            Plan hinzufügen.
          </article>
        </div>
      </div>

      <div class="grid-item">
          <div>  
            <img src="../../assets/first.jpg" alt="First">
          </div>   
          <div>
            <article>Erstellen Sie ihren eigenen Trainingsplän aus einer Liste mit über XY Übungen.
        Ihnen sind keine Grenzen gesetzt den fehlt eine Übung können Sie diese selbst erstellen und Ihrem
        Plan hinzufügen.
      </article>
    </div>
  </div>
</div>-->
  
